<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{134,134}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,21},{134,134}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,286},{116,114}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,28},{116,114}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>1002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{132,120}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,27},{132,120}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>1003.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{166,146}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{166,146}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>1004.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{166,146}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{166,146}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>1005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,146}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,13},{166,146}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect1.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c01d75435f050ec88056ec008cfac24:1/1$</string>
            <key>textureFileName</key>
            <string>effect1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
